{% comment %} Warnings {% endcomment %}
<div class="common_warning success">
    <span>
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M28.4561 7.25824C29.1813 7.9835 29.1813 9.15938 28.4561 9.88464L13.5989 24.7418C12.8737 25.467 11.6978 25.467 10.9725 24.7418L3.54394 17.3132C2.81869 16.5879 2.81869 15.4121 3.54394 14.6868C4.2692 13.9616 5.44508 13.9616 6.17034 14.6868L12.2857 20.8022L25.8297 7.25824C26.5549 6.53298 27.7308 6.53298 28.4561 7.25824Z" fill="#111827"/>
        </svg>
    </span>

    <span> Success</span>
</div>
<div class="common_warning error">
    <span>
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.6346 3.6346C4.48074 2.78847 5.8526 2.78847 6.69873 3.6346L16 12.9359L25.3013 3.6346C26.1474 2.78847 27.5193 2.78847 28.3654 3.6346C29.2115 4.48074 29.2115 5.8526 28.3654 6.69873L19.0641 16L28.3654 25.3013C29.2115 26.1474 29.2115 27.5193 28.3654 28.3654C27.5193 29.2115 26.1474 29.2115 25.3013 28.3654L16 19.0641L6.69873 28.3654C5.8526 29.2115 4.48074 29.2115 3.6346 28.3654C2.78847 27.5193 2.78847 26.1474 3.6346 25.3013L12.9359 16L3.6346 6.69873C2.78847 5.8526 2.78847 4.48074 3.6346 3.6346Z" fill="#111827"/>
    </svg>
    </span>
    <span> Error</span>
</div>  
<div class="common_warning warning">
    <span>
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0117 5.81564C14.3225 3.48537 17.6775 3.48536 18.9883 5.81563L28.5547 22.8225C29.8403 25.1081 28.1887 27.9321 25.5664 27.9321H6.43362C3.81131 27.9321 2.1597 25.1081 3.44531 22.8225L13.0117 5.81564ZM17.7142 22.7893C17.7142 23.7361 16.9466 24.5037 15.9999 24.5037C15.0531 24.5037 14.2855 23.7361 14.2855 22.7893C14.2855 21.8426 15.0531 21.075 15.9999 21.075C16.9466 21.075 17.7142 21.8426 17.7142 22.7893ZM15.9999 9.07484C15.0531 9.07484 14.2855 9.84237 14.2855 10.7892V15.9321C14.2855 16.8789 15.0531 17.6464 15.9999 17.6464C16.9466 17.6464 17.7142 16.8789 17.7142 15.9321V10.7892C17.7142 9.84237 16.9466 9.07484 15.9999 9.07484Z" fill="#111827"/>
        </svg>
    </span>        
    <span> Warning</span>
</div>  