<!-- Grid Single  -->
<section class="grid_single big_container">
    <div class="grid_item">
      <a href="#" class="grid_img-wrap line-h-0 d-block">
        <img
          class="grid_img"
          src="{{ 'grid-single.jpg' | asset_url }}"
          alt=""
        />
      </a>
      <div class="grid_info">
        <h3 class="card_heading grid_heading">TITLE OF THE EDIT.</h3>
        <a href="#" class="link body_text"> Clickable link. </a>
      </div>
    </div>
  </section>


{% stylesheet %}
.grid_single {
  padding: 40px 15px 20px;
}
.grid_single .grid_img {
  min-height: 239px;
}
@media only screen and (max-width: 991px) {
  .grid_single {
    padding: 0px 0px 35px;
  }
}
{% endstylesheet %}
